<div class="jumbotron" mat-app-background>
    <div class="text-center">
      <br><br>
      <p>Bad Day? Bad Vibes??</p>
      <p>Click Generate to brighten your mood :)</p>
    </div>
</div>

<div fxLayout="column wrap" fxLayoutAlign="center center">

    <div class="spacing" fxFlex>
      <mat-spinner *ngIf="loading">
        <span>Fetching</span>
      </mat-spinner>
      <p *ngIf="errorMsg.length > 0">Error: {{errorMsg}}</p>
      <div *ngIf="cat.webpurl">
        <div class="container">
          <img *ngIf="!loading" src="{{cat.webpurl}}" alt="random cat" height="80%" width="100%">
          <p></p>
        </div>
      </div>
    </div>

    <div class="spacing" fxFlex>
      <span id="image"></span>
      <button (click)="getRandomCat()"  mat-raised-button color="primary">
        <fa-icon [icon]="faCat"> </fa-icon>
        <span>
          Generate ! !
        </span>
      </button>
    </div>
    <p></p>
    <p></p>


</div>
